body {
    background: darkgray;
}

.content-box {
    background: #f8f9fa;
    margin: 0 2%;
    height: 100%;
}

.logo {
    margin: 0;
    width: 190px;
    height: 55px;
}

.add-mar {
    margin-top: 7px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center
}

.headroute {
    padding: 15px 20px;
}

.route  {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(92, 98, 102);
}

.navbar {
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif !important;
}

.bg-light {
    background: #f6f6f6 !important;
    border: rgb(216, 216, 216) solid 0.1px;
}