html,body {
    height: 100%;
    margin: 0;
    display: block;
}

body {
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(95, 95, 95);
}

h3 {
    font-size: 22px;
}

.logo {
    display: flex !important;
    justify-content: center !important;
    margin: 0;
    width: 190px;
    height: 55px;
}

.add-mar {
    margin-top: 7px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center
}

.headroute {

    padding: 10px 20px;
    margin: 5px 0 -10px 0;
}

.route  {
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
    color:  rgb(95, 95, 95);
}

.navbar {
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif !important;
}

.bg-light {
    background: #f6f6f6 !important;
    border: rgb(216, 216, 216) solid 0.1px;
}

.theater_card {
    float: left;
    background: white;
    border: darkgray solid 2px;
    /* border-radius: 5px; */
    width: 250px;
    height: 390px;
    margin: 10px 20px;
}

.theater_name{
    background: rgb(240, 240, 240);
    height: 40px;
    padding-top: 6px;
    border-bottom: darkgray solid 2px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.movie_card {
    background: white;
    border: darkgray solid 2px;
    /* border-radius: 5px; */
    width: 250px;
    height: 400px;
    margin: 10px auto;
}

.movie_name{
    background: rgb(240, 240, 240);
    height: 45px;
    padding-top: 4px;
    border-bottom: darkgray solid 2px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.poster{
    margin: 13px 15px;
    width: 215px;
    height: 318px;
}

.list {
    background: white;
    margin: 0 7%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

