{% extends 'webapp/base.html' %}
{% block content%}
    <div class="box-booking">
        <div class="booking-detail">
            <img class='booking-pic' src='{{theater.movie.img.url}}' alt='movie pic'>
            <div class="booking-description">
                <h2 class='black booking-name'>{{theater.theater_id}}: {{theater.movie.name}} </h2>
                <h3 class='black booking-date'>Date: {{today}} </h3>
                <div class='black booking-showtimes'>Showtimes:
                    {% for showtime in showtimes %}
                    <button class="showtime-button">{{showtime}}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="screen white">Screen</div>
    <table class="seats white">
        {% for row_name in rows %}
        <tr>
            <th>{{row_name}}</th> 
            {% load staticfiles %}
            {% for seat_row in seats_list %}
                {% for seat_id in seat_row %}
                    {% if row_name in seat_id %}
                        {% if 'booked' in seat_id %}
                            <td><img class='seat-icon' src="{% static 'img/booked.png' %}"></td>
                        {% else %}
                            <td><img class='seat-icon' id='{seat_id}'src="{% static 'img/free.png' %}"></td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}