{% extends 'webapp/base.html' %}
{% block content%}
<div class="box-booking">
    <div class="booking-detail">
        <img class='booking-pic' src='{{theater.movie.img}}' alt='movie pic'>
        <div class="booking-description">
            <div class="booking-top-container">
                <h2 class='black booking-name' id="{{theater.id}}">{{theater.theater_id}}: {{theater.movie.name}} </h2>
            </div>
            <div class='black booking-showtimes'>
                <p>Showtimes: </p>
                {% for showtime in showtimes %}
                    {% if showtime == first_show %}
                        <button class="showtime-button chosen" onclick="choose_time(this)" id='{{showtime}}'>{{showtime}}</button>
                    {% else %}
                        <button class="showtime-button" onclick="choose_time(this)" id='{{showtime}}'>{{showtime}}</button>
                    {% endif %}
                {% endfor %}
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form">
                    <h3 class='form-name black' >Name: </h3>
                    {{form.name}}
                    <h3 class='form-tel black' >Tel: </h3>
                    {{form.tel}}
                    <h2 class='black booking-date'>Date: </h2>
                    <h2 class='black date'>{{today}}</h2>
                    <h3 class='form-seat black'>Seat: </h3>
                    {{form.seat}}
                    <button class="book-button" type="submit">Book</button>
                </div>
                {{form.theater}}
                {{form.showtime}}
            </form>
        </div>
    </div>
</div>
    <div id="gonna-update">
        {% include 'webapp/includes/seat_selection.html' %}
    </div>

{% endblock %}