{% extends 'webapp/base.html' %}
{%block content%}
    {% include 'webapp/includes/route.html' with route=route %}
    {% load staticfiles %}
    <img class='owner' src='{% static 'img/owner.jpg' %}' alt='owner-image'>
    <div class='contact-description'>
        <h1 class='center contact-name'>Siwat Ponpued</h1>
        <p>
            This Site is a final project for Computer Programming 1. 
            The project includes admin-site which allows owner/manager of the theater to manage what will be shown on the customer site.
            (Add Movie, Add Theater and manage showtimes, See All the Booking history of a specific theater and also the booker information)
            In the customer-site, customer can see list of theater an the movie being shown for each at 'home'.
            When the theater card is clicked it will take customer to booking page which allow user to book a seat represented by icons.
            Also customer are allowed to choose showtimes. In Movie Page, Movie will be listed sorted a-z when user clicked the movie card,
            it will provide movie description and the release date. Lastly, in History Page Customer are allowed to see their booked seats by
            providing the same name and phone number used to book. The code is available here =>
            <a href='https://github.com/KornSiwat/ske_cineplex'>Git Repo</a>
            If you want to talk to me, text me on =>
            <a href='https://www.facebook.com/'>Facebook</a>
        </p>
    </div>
    
{%endblock%}