{% extends 'webapp/base.html' %}
{% block content %}
        {% include 'webapp/includes/route.html' with route=route %}
        <img class='movie_info_pic' src='{{movie.img}}' alt='movie pic'">
        <div class="frame"></div>
        <div class="movie_info">
            <div class='white movie_description'>
                <h1 class='movie_info_name'>{{movie.name}} </h1>
                <h3 class='release'>release date: {{movie.release}}</h3>
                <p class="movie_info_description">{{movie.description}}</p>
            </div>
        </div>
{% endblock %}