html,body {
    height: 100%;
    margin: 0;
    display: block;
    min-width: 320px;
}

body {
    background:  rgb(75, 75, 75);
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(78, 78, 78);
}

h3 {
    font-size: 22px;
}

/* global */
.logo {
    position: absolute;
    top: 6px;
    left: 50%;
    right: 50%;
    margin-left: -95px;
    width: 175px;
    height: 50.6px;
}

.add-mar {
    margin-top: 4px;
    margin-bottom: 4px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center
}

.white {
    color: rgb(238, 238, 238);
}

.black {
    color: rgb(43, 43, 43);
}

.headroute {
    padding: 10px 20px;
    margin: 10px 0 -10px 0;
}

.route  {
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    color:  rgb(238, 238, 238);
}

.navbar {
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif !important;
}

.bg-light {
    background: #f6f6f6 !important;
    border: rgb(216, 216, 216) solid 0.1px;
}

/* card releated */

.theater_name{
    background: rgb(240, 240, 240);
    height: 40px;
    padding-top: 6px;
    /* border-bottom: darkgray solid 2px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie_name{
    background: rgb(240, 240, 240);
    height: 45px;
    padding-top: 4px;
    border-bottom: darkgray solid 2px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.card {
    float: left;
    background: white;
    /* border: darkgray solid 2px; */
    border-radius: 5px;
    width: 196px;
    height: 315px;
    margin: 10px 20px;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.05);
}

.empty_card {
    background: transparent;
    visibility: hidden;
    width: 196px;
    height: 315px;
    margin: 10px 20px;
}

.poster{
    margin: 11px 13px;
    width: 170px;
    height: 251px;
}

.contain {
    padding: 0 5%;
}

.list {
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

/* movie info page */

.movie_info_pic {
    margin: 10px auto 10px auto;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 190px;
    height: 281px;
}

.movie_info_name {
    text-align: center;
    text-indent: 0 !important;
    font-size: 33px;

}

.movie_description {
    text-align: justify;
    text-align-last: center;
    padding: 0 5%;
    text-indent: 5%;
    font-size: 20px;
}

.release {
    text-align: center;
    text-indent: 0 !important;
    font-size: 18px;
}

/* contact page */

.owner {
    border-radius: 120px;
    display: flex;
    margin: 15px auto;
    width: 240px;
    height: auto;
    border: solid white;    
}

.contact-name{
    text-align: center !important;
    text-indent: 0 !important;
    font-size: 30px;
}

.contact-description {
    padding: 5px 80px;
    text-indent: 5%;
    text-align: justify;
    text-align-last: left;
    color:  rgb(238, 238, 238);
    font-size: 18px;

}

/* branches page */
.branch-name {
    text-align: center;
    font-size: 20%;
    color: rgb(238, 238, 238);
    margin:20px 10%;
}

.branches {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: auto;
    border-radius: 1%;
}

/* booking page */
.screen {
    text-align: center;
    width: 300px;
    border-radius: 5px;
    border: solid rgb(238, 238, 238) 2px;
    margin: 20px auto;
}

.frame {
    margin: -149px auto 15px auto; 
    width: 210px;
    height: 148px;
    background: rgb(196, 196, 196);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.frame_booking {
    height: 330px;
}

.frame_book {
    width: 238px;
    height: 150px;
    background: rgb(196, 196, 196);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.booking-detail {
    margin: 70px auto 40px auto;
    padding: 0 20px 0 100px;
    background: #f6f6f6;
    height: 200px;
    width: 700px;
    border-radius: 3px;
}

.booking-pic{
    margin: -20px 40px 0 -65px;
    width: 160px;
    height: 236.9px;
    box-shadow: 0 15px 37px -5px rgba(48, 48, 48, 0.7);
}

.booking-description {
    margin: -230px 0 100px 140px;
    /* background: rgb(104, 99, 99); */
    width: 500px;
    height: 190px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    text-indent: 10px;
}

.booking-top-container {
    display: flex;
    margin-top: 40px;
}

.booking-name {
    font-size: 25px;
}

.booking-date {
    float: left;
    margin-top: 10px;
    margin-right: 30px;
    font-size: 15px;
}

.date {
    margin-top: 10px;
    font-size: 15px;
}

.booking-name-box{
    width: 200px;
}

.booking-tel-box{
    width: 200px;
    margin-left: -5px;
}

.booking-date-box{
    width: 180px;
}

.showtime-buttons-box{
    margin-top: -2px;
    margin-left: -5px;
}

.booking-showtimes {
    display: flex;
    margin: 5px 0 -5px 0;
    text-indent: 11px;
    font-size: 15px;
}

.showtime-button {
    height: 22px;
    margin: 1px 0 0 2px;
    font-size: 11px;
    border-radius: 5px;
    background: rgb(240, 232, 166);
    transition: 0.25s;
    border: solid rgba(240, 233, 166, 0.836);
    outline:none;
}

.showtime-button:hover {
    transform: scale(1.02);
}

.book-button {
    margin-top: 7px;
    margin-left: 2px;
    width: 55px;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
    background:rgb(240, 232, 166);
    transition: 0.5s;
    border: solid rgba(240, 233, 166, 0.836);
    outline:none;
}

.seats {
    margin: 0 auto;
}

/* seat selection */
th,td {
    padding: 0 4px;
}

.seat-icon {
    width: 16px;
    height: 16px;
    border-radius: 10px;
}

.form {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form-name {
    float: left;
    margin-top: 6px;
    width: 50px;
    font-size: 15px;
}

.form-tel {
    float: left;
    margin-top: 6px;
    /* margin-right: 7px; */
    width: 30px;
    font-size: 15px;
}
.form-seat {
    float: left;
    margin-top: 10px;
    margin-left: 1px;
    width: 50px;
    font-size: 15px;
}

.booker-name, .booker-tel{
    margin-top: 5px;
    margin-left: 3px;
    font-size: 14px;
    width: 130px;
    height: 22px;
    outline:none;
    border: none;
    border-radius: 5px;
}

.booker-tel{
    width: 150px;
}

.booking-seat{
    font-size: 14px;
    margin-top: 7px;
    margin-right: 0;
    margin-left: -5px;
    font-size: 14px;
    width: 100px;
    height: 25px;
    outline:none;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.booking-seat-box{
    width: 220px;
}

#theater-field,#showtime-field,.booking-movie-name,#movie-field,#date-field {
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    visibility: hidden;
}

.chosen {
    border: rgb(100, 100, 100) solid 2px;
}

/* History page */

.search-img {
    display: block;
    width: 200px;
    height: auto;
    margin: 20px auto;
    filter: grayscale(30%);
}

.search {
    font-size: 25px;
}

.search-name,.search-tel {
    font-size: 18px;
    margin: 10px 10px 0 0;
}

.name-s {
    display: flex;
    justify-content: center;
    margin-left: -5%;
}
#history-name,#history-tel {
    margin-top: 5px;
    height: 30px;
    border-radius: 10px;
}

.tel-s {
    margin: 12px 0;
    margin-left: -5%;
    display: flex;
    justify-content: center;
}
.head-detail {
    margin-top: 25px;
    margin-left: 12%;
    font-size: 20px;
}

.history-box {
    overflow: scroll;
    margin: 15px 10% 20px 10%;
    background: #f6f6f657;
    padding: 20px 20px;
    border-radius: 5px;
    height: 180px;
}

.search-button {
    display: block;
    margin: 0 auto 10px auto;
    border: none;
    outline: none;
    background: rgb(182, 93, 86);
    border-radius: 10px;
    font-size: 20px;
    width: 100px;
    transition: 0.5s;
}

.search-button:hover {
    transform: scale(1.04);
}

@media only screen and (max-width:870px) {

    /* contact page */

    .owner {
        border-radius: 120px;
        display: flex;
        margin: 15px auto;
        width: 200px;
        height: auto;
        border: solid white;    
    }

    .contact-name{
        text-align: center !important;
        text-indent: 0 !important;
        font-size: 27px;
        margin-bottom: 15px;

    }

    .contact-description {
        padding: 5px 60px;
        text-indent: 5%;
        text-align: justify;
        text-align-last: left;
        color:  rgb(238, 238, 238);
        font-size: 17px;

    }

    .card {
        float: left;
        background: white;
        /* border: darkgray solid 2px; */
        border-radius: 5px;
        width: 140px;
        height: 220px;
        margin: 10px 20px;
        transition: transform .2s;
    }
    
    .contain {
        padding: 0 2%;
    }

    .poster{
        margin: 8px 12px;
        width: 115px;
        height: 169.7px;
    }

    .movie_info_pic {
        margin: 10px auto 10px auto;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        width: 160px;
        height: 236.9px;
    }
    
    .movie_info_name {
        text-align: center;
        text-indent: 0 !important;
        font-size: 30px;
    
    }

    .theater_name {
        background: rgb(240, 240, 240);
        height: 30px;
        padding-top: 8px;
        /* border-bottom: darkgray solid 2px; */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    h3 {
        font-size: 15px;
    }
    
    .movie_name{
        background: rgb(240, 240, 240);
        height: 45px;
        padding-top: 4px;
        border-bottom: darkgray solid 2px;
        /* border-top-left-radius: 5px;
        border-top-right-radius: 5px; */
    }

        /* booking page */
    .screen {
        text-align: center;
        width: 300px;
        border-radius: 5px;
        border: solid rgb(238, 238, 238) 2px;
        margin: 20px auto;
    }

    .frame {
        margin: -149px auto 15px auto; 
        width: 180px;
        height: 148px;
        background: rgb(196, 196, 196);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .frame_booking {
        height: 330px;
    }

    .frame_book {
        width: 238px;
        height: 150px;
        background: rgb(196, 196, 196);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .booking-detail {
        margin: 70px auto 0 auto;
        /* padding: 0 20px 0 100px; */
        background: #f6f6f6;
        height: 220px;
        width: 600px;
        border-radius: 3px;
    }

    .booking-pic{
        margin: 18px 0 0 -70px;
        width: 125px;
        height: 185.1px;
        box-shadow: none;
    }

    .booking-description {
        margin: -200px 0 100px 70px;
        /* background: rgb(104, 99, 99); */
        width: 500px;
        height: 190px;
        font-family: Helvetica, sans-serif;
        text-align: left;
        text-indent: 10px;
    }

    .booking-top-container {
        display: flex;
        margin-top: 40px;
    }

    .booking-name {
        font-size: 22px;
    }

    .booking-date {
        margin-top: 10px;
        margin-left: 7px;
        margin-right: 15px;
        font-size: 15px;
    }

    .date {
        margin-top: 10px;
        font-size: 15px;
    }

    .booking-showtimes {
        display: flex;
        margin: 5px 0 -5px 0;
        text-indent: 11px;
        font-size: 15px;
    }

    .booking-name-box{
        width: 190px;
    }

    .booking-tel-box{
        width: 200px;
        margin-left: -5px;
    }

    .booking-date-box{
        width: 165px;
    }

    .showtime-buttons-box{
        margin-top: -2px;
        margin-left: -5px;
    }

    .showtime-button {
        height: 24px;
        margin: 1px 0 0 2px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(240, 232, 166);
        transition: 0.25s;
        border: solid rgba(240, 233, 166, 0.836);
        outline:none;
    }

    .showtime-button:hover {
        transform: scale(1.02);
    }

    .book-button {
        margin-top: 7px;
        margin-left: 2px;
        width: 55px;
        height: 25px;
        font-size: 13px;
        border-radius: 5px;
        background:rgb(240, 232, 166);
        transition: 0.5s;
        border: solid rgba(240, 233, 166, 0.836);
        outline:none;
    }

    .seats {
        margin: 0 auto;
    }

    /* seat selection */
    th,td {
        padding: 0 4px;
        font-size: 14px;
    }

    .seat-icon {
        width: 14px;
        height: 14px;
        border-radius: 10px;
    }

    .form {
        width: 400px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .form-name {
        float: left;
        margin-top: 6px;
        margin-right: 12px;
        width: 40px;
        font-size: 15px;
    }

    .form-tel {
        float: left;
        margin-top: 6px;
        width: 40px;
        font-size: 15px;
    }
    .form-seat {
        float: left;
        margin-top: 10px;
        margin-left: 8px;
        width: 40px;
        font-size: 15px;
    }

    .booker-name, .booker-tel{
        margin-top: 5px;
        font-size: 14px;
        width: 120px;
        height: 22px;
        outline:none;
        border: none;
        border-radius: 5px;
    }

    .booker-tel{
        margin-left: -8px;
        width: 150px;
    }
    
    .booking-seat-box{
        width: 230px;
    }

    .booking-seat{
        font-size: 14px;
        margin-top: 7px;
        margin-right: 0;
        margin-left: 4px;
        font-size: 14px;
        width: 100px;
        height: 25px;
        outline:none;
        border: none;
        border-radius: 5px;
        text-align: center;
    }


    #theater-field,#showtime-field,.booking-movie-name,#movie-field,#date-field {
        position: fixed;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        z-index: -1;
        visibility: hidden;
    }

    .chosen {
        border: rgb(100, 100, 100) solid 2px;
    }
}

@media only screen and (max-width:700px) {

    .owner {
        border-radius: 120px;
        display: flex;
        margin: 15px auto;
        width: 170px;
        height: auto;
        border: solid white;    
    }

    .contact-name{
        text-align: center !important;
        text-indent: 0 !important;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .contact-description {
        padding: 5px 40px;
        text-indent: 5%;
        text-align: justify;
        text-align-last: left;
        color:  rgb(238, 238, 238);
        font-size: 14px;

    }

    .logo {
        position: absolute;
        top: 8px;
        left: 50%;
        right: 50%;
        /* margin-left: -95px; */
        width: 160px;
        height: 46.3px;
    }

    .navbar {
        font-size: 16px;
        font-family: 'Titillium Web', sans-serif !important;
    }
    
    .headroute {
        padding: 10px 20px;
        margin: 10px 0 -10px 0;
    }
    
    .route  {
        font-size: 24px;
        font-family: 'Titillium Web', sans-serif;
        color:  rgb(238, 238, 238);
    }

    .movie_info_pic {
        margin: 10px auto 10px auto;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        width: 160px;
        height: 236.9px;
    }

    .movie_info_name {
        text-align: center;
        text-indent: 0 !important;
        font-size: 30px;
    
    }

    .theater_name {
        background: rgb(240, 240, 240);
        height: 30px;
        padding-top: 8px;
        /* border-bottom: darkgray solid 2px; */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    h3 {
        font-size: 15px;
    }

    .movie_name{
        background: rgb(240, 240, 240);
        height: 45px;
        padding-top: 4px;
        border-bottom: darkgray solid 2px;
        /* border-top-left-radius: 5px;
        border-top-right-radius: 5px; */
    }

        /* booking page */
    .screen {
        text-align: center;
        width: 200px;
        border-radius: 5px;
        border: solid rgb(238, 238, 238) 2px;
        margin: 25px auto 20px auto;
    }

    .frame {
        margin: -149px auto 15px auto; 
        width: 180px;
        height: 148px;
        background: rgb(196, 196, 196);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .frame_booking {
        height: 330px;
    }

    .frame_book {
        width: 238px;
        height: 150px;
        background: rgb(196, 196, 196);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .booking-detail {
        margin: 20px auto 5px auto;
        padding: 10px 20px;
        background: #f6f6f6;
        height: 400px;
        width: 90%;
        border-radius: 3px;
    }

    .booking-pic{
        display: block;
        margin: 15px auto;
        width: 110px;
        height: 162.9px;
        box-shadow: none;
    }

    .booking-description {
        margin: 0px 0 0px 0px;
        background: none;
        width: 100%;
        height: 190px;
        font-family: Helvetica, sans-serif;
        text-align: left;
        text-indent: 10px;
    }

    .booking-top-container {
        display: flex;
        margin-top: 0;
        justify-content: center;
    }

    .booking-name {
        font-size: 20px;
    }

    .booking-date {
        margin-top: 10px;
        margin-left: 15px;
        margin-right: 10%;
        font-size: 15px;
    }

    .date {
        margin-top: 10px;
        margin-left: 10%;
        font-size: 15px;
    }

    .booking-showtimes {
        margin: 0;
        text-indent: 0;
        font-size: 0;
    }

    #showtime-word {
        visibility: visible;
    }
    .showtime-buttons-box{
        margin: 0 auto 10px auto;
        height: 30px;
        display: flex;
        overflow: scroll;
        border: rgba(0, 0, 0, 0.1) solid 2px;
        border-radius: 5px;
    }

    .showtime-button {
        height: 20px;
        margin: 3px 0 0 4px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(240, 232, 166);
        transition: 0.25s;
        border: solid rgba(240, 233, 166, 0.836);
        outline:none;
    }

    .showtime-button:hover {
        transform: scale(1.02);
    }

    .book-button {
        margin-top: 0;
        margin-left: 2px;
        width: 55px;
        height: 25px;
        font-size: 13px;
        border-radius: 5px;
        background:rgb(240, 232, 166);
        transition: 0.5s;
        border: solid rgba(240, 233, 166, 0.836);
        outline:none;
    }

    .seats {
        margin: 0 auto;
    }

    th,td {
        font-size: 12px;
        padding: 0 3px;
    }
    /* seat selection */

    .seat-icon {
        width: 13px;
        height: 13px;
        border-radius: 10px;
    }

    .form {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-name {
        float: left;
        margin-top: 13px;
        margin-right: 12px;
        width: 50px;
        font-size: 15px;
    }

    .form-tel {
        float: left;
        margin-top: 8px;
        margin-left: 5px;
        width: 40px;
        font-size: 15px;
    }
    .form-seat {
        float: left;
        margin-top: 10px;
        margin-left: 8px;
        width: 50px;
        font-size: 15px;
    }

    .booker-name, .booker-tel{
        margin-top: 10px;
        margin-right: 0;
        margin-left: -10px;
        font-size: 14px;
        width: 60%;
        height: 22px;
        outline:none;
        border: none;
        border-radius: 5px;
    }

    .booker-tel{
        margin-top: 5px;
        margin-left: -8px;

    }

    .booking-name-box{
        /* margin: 0 ; */
        width: 45%;
    }
    .booking-tel-box{
        margin: 5px 0;
        width: 45%;
    }

    .booking-date-box{
        margin: 0 -20px;
        width: 40%;
    }
    .booking-seat-box{
        margin-left: 7%;
        width: 45%;
    }

    .booking-seat{
        font-size: 14px;
        margin-top: 9px;
        margin-right: 0;
        margin-left: -5px;
        font-size: 14px;
        width: 30%;
        height: 20px;
        outline:none;
        border: none;
        border-radius: 5px;
        text-align: center;
    }

    #theater-field,#showtime-field,.booking-movie-name,#movie-field,#date-field {
        position: fixed;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        z-index: -1;
        visibility: hidden;
    }

    .booking-frame {
        margin: -8px 5% 0 5%;
        border: #f6f6f6 solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #gonna-update{
        margin: 0 0 20px 0;
    }

    /* History page */

.search-img {
    display: block;
    width: 160px;
    height: auto;
    margin: 20px auto;
    filter: grayscale(30%);
}

.search {
    font-size: 20px;
}

.search-name,.search-tel {
    font-size: 18px;
    margin: 10px 10px 0 0;
}

.name-s {
    display: flex;
    justify-content: center;
    margin-left: -5%;
}
#history-name,#history-tel {
    margin-top: 5px;
    height: 25px;
    border-radius: 10px;
}

.tel-s {
    margin: 12px 0;
    margin-left: -5%;
    display: flex;
    justify-content: center;
}
.head-detail {
    margin-top: 25px;
    margin-left: 12%;
    font-size: 17px;
}

.history-box {
    overflow: scroll;
    margin: 15px 10% 20px 10%;
    background: #f6f6f657;
    padding: 20px 20px;
    border-radius: 5px;
    height: 180px;
}

.search-button {
    display: block;
    margin: 0 auto 10px auto;
    border: none;
    outline: none;
    background: rgb(182, 93, 86);
    border-radius: 10px;
    font-size: 17px;
    width: 100px;
    transition: 0.5s;
}

.search-button:hover {
    transform: scale(1.04);
}

}

@media only screen and (max-width:500px) {

    .owner {
        border-radius: 120px;
        display: flex;
        margin: 15px auto;
        width: 150px;
        height: auto;
        border: solid white;    
    }

    .contact-name{
        text-align: center !important;
        text-indent: 0 !important;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .contact-description {
        padding: 5px 30px;
        text-indent: 5%;
        text-align: justify;
        text-align-last: left;
        color:  rgb(238, 238, 238);
        font-size: 12px;
    }

    .logo {
        position: absolute;
        top: 8px;
        left: 52%;
        right: 50%;
        /* margin-left: -95px; */
        width: 160px;
        height: 46.3px;
    }

    .navbar {
        font-size: 16px;
        font-family: 'Titillium Web', sans-serif !important;
    }
    
    .headroute {
        padding: 10px 20px;
        margin: 10px 0 -10px 0;
    }
    
    .route  {
        font-size: 24px;
        font-family: 'Titillium Web', sans-serif;
        color:  rgb(238, 238, 238);
    }

    .movie_info_pic {
        margin: 10px auto 10px auto;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        width: 160px;
        height: 236.9px;
    }

    .movie_info_name {
        text-align: center;
        text-indent: 0 !important;
        font-size: 30px;
    
    }

    .theater_name {
        background: rgb(240, 240, 240);
        height: 30px;
        padding-top: 8px;
        /* border-bottom: darkgray solid 2px; */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    h3 {
        font-size: 15px;
    }

    .movie_name{
        background: rgb(240, 240, 240);
        height: 45px;
        padding-top: 4px;
        border-bottom: darkgray solid 2px;
        /* border-top-left-radius: 5px;
        border-top-right-radius: 5px; */
    }

        /* booking page */
    .screen {
        text-align: center;
        width: 180px;
        border-radius: 5px;
        border: solid rgb(238, 238, 238) 2px;
        margin: 30px auto 20px auto;
        font-size: 18px;
    }

    .frame {
        margin: -149px auto 15px auto; 
        width: 180px;
        height: 148px;
        background: rgb(196, 196, 196);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .frame_booking {
        height: 330px;
    }

    .frame_book {
        width: 238px;
        height: 150px;
        background: rgb(196, 196, 196);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .booking-detail {
        margin: 20px auto 0 auto;
        padding: 10px 20px;
        background: #f6f6f6;
        height: 400px;
        width: 90%;
        border-radius: 3px;
    }

    .booking-pic{
        display: block;
        margin: 15px auto;
        width: 90px;
        height: 133.3px;
        box-shadow: none;
    }

    .booking-description {
        margin: 0px 0 0px 0px;
        background: none;
        width: 100%;
        height: 190px;
        font-family: Helvetica, sans-serif;
        text-align: left;
        text-indent: 10px;
    }

    .booking-top-container {
        display: flex;
        margin-top: 0;
        justify-content: center;
    }

    .booking-name {
        font-size: 20px;
    }

    .booking-date {
        margin-top: 10px;
        margin-left: 7px;
        font-size: 15px;
    }

    .date {
        margin-top: 10px;
        margin-left: 25px;
        font-size: 15px;
    }

    .booking-showtimes {
        margin: 0;
        text-indent: 0;
        font-size: 0;
    }
    #showtime-word {
        visibility: hidden;
        margin: 0;
    }
    .showtime-buttons-box{
        margin: 0 auto;
        height: 30px;
        display: flex;
        overflow: scroll;
        border: rgba(0, 0, 0, 0.1) solid 2px;
        border-radius: 5px;
    }

    .showtime-button {
        height: 20px;
        margin: 3px 0 0 4px;
        font-size: 10px;
        border-radius: 5px;
        background: rgb(240, 232, 166);
        transition: 0.25s;
        border: solid rgba(240, 233, 166, 0.836);
        outline:none;
    }

    .showtime-button:hover {
        transform: scale(1.02);
    }   

    .book-button {
        margin-top: 0;
        margin-left: 0;
        width: 55px;
        height: 25px;
        font-size: 13px;
        border-radius: 5px;
        background:rgb(240, 232, 166);
        transition: 0.5s;
        border: solid rgba(240, 233, 166, 0.836);
        outline:none;
    }

    .seats {
        margin: 0 auto;
    }

    th,td {
        font-size: 12px;
        padding: 0 2px;
    }
    /* seat selection */

    .seat-icon {
        width: 11px;
        height: 11px;
        border-radius: 10px;
    }

    .form {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-name {
        float: left;
        margin-top: 13px;
        margin-right: 12px;
        width: 50px;
        font-size: 15px;
    }

    .form-tel {
        float: left;
        margin-top: 6px;
        margin-left: 20px;
        width: 50px;
        font-size: 15px;
    }
    .form-seat {
        float: left;
        margin-top: 7px;
        margin-left: 12px;
        width: 50px;
        font-size: 15px;
    }

    .booker-name, .booker-tel{
        margin-top: 10px;
        margin-right: 0;
        font-size: 14px;
        width: 150px;
        height: 22px;
        outline:none;
        border: none;
        border-radius: 5px;
    }

    .booker-tel{
        margin-top: 5px;
        margin-left: -19px;

    }

    .booking-name-box{
        margin: 0  auto;
        width: 240px;
    }
    .booking-tel-box{
        margin: 0 auto;
        width: 240px;
    }
    
    .booking-date-box{
        margin: 0 auto;
        width: 240px;
    }

    .booking-seat-box{
        /* margin: 0 ; */
        width: 250px;
    }

    .booking-seat{
        font-size: 14px;
        margin-top: 0;
        margin-right: 0;
        margin-left: -5px;
        font-size: 14px;
        width: 40%;
        height: 25px;
        outline:none;
        border: none;
        border-radius: 5px;
        text-align: center;
    }

    #theater-field,#showtime-field,.booking-movie-name,#movie-field,#date-field {
        position: fixed;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        z-index: -1;
        visibility: hidden;
    }

    .booking-frame {
        margin: -8px 5% 0 5%;
        border: #f6f6f6 solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #gonna-update{
        margin: 0 0 20px 0;
    }

}

@media only screen and (max-width:370px) {

    .owner {
        border-radius: 120px;
        display: flex;
        margin: 15px auto;
        width: 140px;
        height: auto;
        border: solid white;    
    }

    .contact-name{
        text-align: center !important;
        text-indent: 0 !important;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .contact-description {
        padding: 5px 25px;
        text-indent: 5%;
        text-align: justify;
        text-align-last: left;
        color:  rgb(238, 238, 238);
        font-size: 11px;
    }

    th,td {
        font-size: 10px;
        padding: 0 1px;
    }

    .seat-icon {
        width: 12px;
        height: 12px;
        border-radius: 10px;
    }
}

@media only screen and (max-width:340px) {

    .seat-icon {
        width: 10px;
        height: 10px;
        border-radius: 10px;
    }
}