html,body {
    height: 100%;
    margin: 0;
    display: block;
}

body {
    background:  rgb(75, 75, 75);
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(78, 78, 78);
}

h3 {
    font-size: 22px;
}

/* global */
.logo {
    position: absolute;
    top: 4px;
    left: 50%;
    right: 50%;
    margin-left: -95px;
    width: 190px;
    height: 55px;
}

.add-mar {
    margin-top: 4px;
    margin-bottom: 4px;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center
}

.white {
    color: rgb(238, 238, 238);
}

.black {
    color: rgb(43, 43, 43);
}

.headroute {
    padding: 10px 20px;
    margin: 10px 0 -10px 0;
}

.route  {
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    color:  rgb(238, 238, 238);
}

.navbar {
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif !important;
}

.bg-light {
    background: #f6f6f6 !important;
    border: rgb(216, 216, 216) solid 0.1px;
}


/* card releated */

.theater_name{
    background: rgb(240, 240, 240);
    height: 40px;
    padding-top: 6px;
    /* border-bottom: darkgray solid 2px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie_name{
    background: rgb(240, 240, 240);
    height: 45px;
    padding-top: 4px;
    border-bottom: darkgray solid 2px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.card {
    float: left;
    background: white;
    /* border: darkgray solid 2px; */
    border-radius: 5px;
    width: 196px;
    height: 315px;
    margin: 10px 20px;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.05);
}

.empty_card {
    background: transparent;
    visibility: hidden;
    width: 196px;
    height: 315px;
    margin: 10px 20px;
}

.poster{
    margin: 11px 13px;
    width: 170px;
    height: 251px;
}

.contain {
    padding: 0 5%;
}

.list {
    background: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

/* movie info page */

.movie_info_pic {
    margin: 10px auto 10px auto;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: 190px;
    height: 281px;
}

.movie_info_name {
    text-align: center;
    text-indent: 0 !important;
    font-size: 33px;

}

.movie_description {
    text-align: justify;
    text-align-last: center;
    padding: 0 5%;
    text-indent: 5%;
    font-size: 20px;
}

.release {
    text-align: center;
    text-indent: 0 !important;
    font-size: 18px;
}

/* contact page */

.owner {
    border-radius: 120px;
    display: flex;
    margin: 15px auto;
    width: 240px;
    height: auto;
    border: solid white;    
}

.contact-name{
    text-align: center !important;
    text-indent: 0 !important;
    font-size: 33px;
}
.contact-description {
    padding: 5px 100px;
    text-indent: 5%;
    text-align: justify;
    text-align-last: left;
    color:  rgb(238, 238, 238);
    font-size: 20px;

}

/* branches page */
.branch-name {
    text-align: center;
    font-size: 20%;
    color: rgb(238, 238, 238);
    margin:20px 10%;
}

.branches {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: auto;
    border-radius: 1%;
}


/* booking page */
.screen {
    text-align: center;
    width: 300px;
    border-radius: 5px;
    border: solid rgb(238, 238, 238) 2px;
    margin: 20px auto;
}

.frame {
    margin: -149px auto 15px auto; 
    width: 210px;
    height: 148px;
    background: rgb(196, 196, 196);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.frame_booking {
    height: 330px;
}

.frame_book {
    width: 238px;
    height: 150px;
    background: rgb(196, 196, 196);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.booking-detail {
    margin: 70px auto 60px auto;
    padding: 0 20px 0 100px;
    background: #f6f6f6;
    height: 200px;
    width: 700px;
    border-radius: 3px;
}


.booking-pic{
    margin: -40px 40px 0 -70px;
    width: 188.48px;
    height: 279px;
    box-shadow: 0 15px 37px -5px rgba(48, 48, 48, 0.7);
}

.booking-description {
    margin: -240px 0 100px 140px;
    /* background: rgb(104, 99, 99); */
    width: 500px;
    height: 190px;
    font-family: Helvetica, sans-serif;
    text-align: left;
    text-indent: 10px;
}

.booking-top-container {
    display: flex;
    margin-top: 40px;
}

.booking-name {
    font-size: 25px;
}

.booking-date {
    margin-top: 10px;
    font-size: 15px;
}

.date {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 15px;
}

.booking-showtimes {
    display: flex;
    margin: 5px 0 -5px 0;
    text-indent: 11px;
    font-size: 17px;
}

.showtime-button {
    height: 24px;
    margin: 1px 0 0 4px;
    font-size: 11px;
    border-radius: 5px;
    background: rgb(240, 232, 166);
    transition: 0.25s;
    border: solid rgba(240, 233, 166, 0.836);
    outline:none;
}

.showtime-button:hover {
    transform: scale(1.02);
}

.book-button {
    margin-top: 7px;
    margin-left: 2px;
    width: 55px;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
    background:rgb(240, 232, 166);
    transition: 0.5s;
    border: solid rgba(240, 233, 166, 0.836);
    outline:none;
}

.seats {
    margin: 0 auto;
}

/* seat selection */
th,td {
    padding: 0 4px;
}

.seat-icon {
    width: 17px;
    height: 17px;
    border-radius: 10px;
}

.form {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form-name {
    margin-top: 6px;
    margin-right: 12px;
    width: 50px;
    font-size: 15px;
}

.form-tel {
    margin-top: 6px;
    /* margin-right: 7px; */
    width: 50px;
    font-size: 15px;
}
.form-seat {
    margin-top: 10px;
    margin-left: 23px;
    width: 50px;
    font-size: 15px;
}

.booker-name, .booker-tel{
    margin-top: 5px;
    font-size: 14px;
    width: 120px;
    height: 22px;
    outline:none;
    border: none;
    border-radius: 5px;
}

.booker-tel{
    margin-left: -8px;
    width: 150px;
}

.booking-seat{
    font-size: 14px;
    margin-top: 7px;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 14px;
    width: 100px;
    height: 25px;
    outline:none;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#theater-field,#showtime-field {
    position: fixed;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    visibility: hidden;
}

.chosen {
    border: rgb(100, 100, 100) solid 2px;
}

@media only screen and (max-width: 735px) {
    body {
        background-color: rgb(201, 201, 201);
    }

    .booking-pic{
        position: fixed;
        
        margin: -40px 40px 0 -70px;
        width: 150px;
        height: 222px;
        box-shadow: 0 15px 37px -5px rgba(48, 48, 48, 0.7);
    }
}